/* Importações */

@font-face {
	font-family: "lexend";
	src: url(/fonts/Lexend-Regular.ttf);
}

@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");

/* Regras */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-size: 16px;
    height: 0 !important;
}

/* Variaveis */

:root {
	--corPrincipal: #0a0605;
	--corSegundaria: #100a06;
	--corDestaque: #e09f0f;
	--fontTexto: "Segoe UI", sans-serif;
	--fontPrincipal: "lexend", sans-serif;
}

/* Partes */

/* Principal */

main {
	background-color: var(--corPrincipal);
}

/* Informações */

#info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#info > h1 {
	color: white;
	font: normal 2em var(--fontPrincipal);
	text-align: center;
	margin-top: 40px;
}

#info > h2 {
	color: #ffffffaa;
	margin-top: 25px;
	margin-bottom: 85px;
	font: normal 1.3em var(--fontTexto);
	text-align: center;
}

#info > p {
	color: #ffffffaa;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	font: normal 1.1em var(--fontTexto);
	max-width: 650px;
}

/* Download */

#download {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#download > h1 {
	color: white;
	font: normal 2em var(--fontPrincipal);
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
}

#download > img {
	width: 20%;
	height: auto;
	margin: auto;
	margin-bottom: 40px;
}

#download > p {
	color: #ffffffaa;
	text-align: center;
	margin: auto;
	margin-bottom: 35px;
	font: normal 1.1em var(--fontTexto);
	max-width: 650px;
}

#download a {
	background-color: var(--corDestaque);
	font: 500 1.3em var(--fontPrincipal);
	color: white;
	padding: 10px;
	width: 200px;
	height: 50px;
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 10px;
	transition: transform 0.5s;
}

#download a:hover {
	transform: scale(1.1, 1.1);
	text-decoration: none;
}

/* Icones */

#icones {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

#icones > img {
	margin-left: 15px;
}

/* Icones Mobile */

#iconesmobile {
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 35px;
}

/* Botão */

#botão {
	display: flex;
	justify-content: center;
}

#botão > a {
	background-color: var(--corDestaque);
	font: 500 1.3em var(--fontPrincipal);
	color: white;
	padding: 10px;
	width: 200px;
	height: 50px;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 10px;
	transition: transform 0.5s;
}

#botão > a:hover {
	transform: scale(1.1, 1.1);
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	/* Ajuste na imagem do Download */

	#download > img {
		width: 30%;
	}

	/* Icones pra Celular */

	#icones {
		display: none;
	}

	#iconesmobile {
		display: flex;
	}
}
